html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #F5F7FB;
    color: #293264;
    font-family: "Inter", sans-serif;
}

h1,
p {
    margin: 0;
}

.action-btn {
    border: none;
    border-radius: 5px;
    background-color: #4d5b9e;
    color: #f5f7fb;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    height: 50px;
    width: 190px;
    cursor: pointer;
}

.action-btn:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.quiz-page .action-btn {
    margin: 0 auto;
}

/* Quiz Homepage */

.quiz-home {
    max-width: 600px;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.quiz-home h1 {
    padding: 0 0 15px 0;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}

.quiz-home p {
    text-align: center;
    padding: 0 10px 50px;
    line-height: 1.2;
    max-width: 500px;
}

/* Quiz Page */

.quiz-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.qa-section {
    margin: 10px auto 20px;
    max-width: 700px;
    border-bottom: 1px solid #DBDEF0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
}

.qa-section h2 {
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
    padding: 0 0 15px 0;
}

.quiz-results {
    text-align: center;
    font-size: 1rem;
    font-weight: 600;
}

.answer-section {
    padding: 0 0 15px 0;
}


.answer-btn,
.incorrect-answer,
.correct-answer,
.selected-answer-btn {
    border: 1px solid #4D5B9E;
    border-radius: 8px;
    margin: 10px;
    padding: 5px 20px;
    color: #293264;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.answer-btn {
    background-color: transparent;
}

.correct-answer {
    background-color: #94D7A2;
}

.incorrect-answer {
    background-color: #F8BCBC;
}

.selected-answer-btn {
    background-color: #D6DBF5;
}

/* Quiz Background */

.top-bg-blob {
    position: absolute;
    right: -80px;
    top: -100px;
    background-color: #fffad1;
    border-radius: 20% 30% 0 100% / 0 0 100% 100%;
    width: 200px;
    height: 300px;
    z-index: 100;
}

.bottom-bg-blob {
    position: absolute;
    left: -100px;
    bottom: -100px;
    background-color: #deebf8;
    border-radius: 0 70% 30% 0 / 100% 100% 100% 80%;
    width: 300px;
    height: 300px;
    z-index: 100;
}

/* Quiz Homepage Media Queries */

@media(min-width: 480px) {

    .quiz-home h1 {
        padding: 0 0 15px 0;
    }

    .quiz-home p {
        padding: 0 15px 45px;
    }

    .quiz-page {
        height: 100vh;
    }

    .top-bg-blob {
        right: 0px;
    }
}